[flake8]
ignore =
    # make black happy
    E203, W503,
    # self type
    ANN101
docstring-style: SPHINX
max-line-length = 120
max-complexity = 18
select = B,C,E,F,W,T4,SIM,RST,D,T1,FS,DAR,ANN
per-file-ignores =
    tests/*:ANN,D102
